* {
    margin: 0.3rem;
    padding: 0.5rem;
    box-sizing: border-box;
    gap: 0.5rem;
    
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

h1 {
    box-sizing: border-box;
    color: rgb(12, 53, 88);
    gap: 1rem;
}

button {
    border-radius: 2rem;
    padding-top: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(134, 134, 253);
    color: aliceblue;
}

.meuFormulario {
    display: flex;
    align-items: center;
}