@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "rubik", sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgb(125, 45, 216), rgb(0, 0, 0));
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: aliceblue;
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(41, 25, 27, 0.87);
  width: 400px;
  max-width: 100%;
  overflow: hidden;
}

.header {
  background-color: rgb(209, 225, 230);
  padding: 28px;
}

.form {
  padding: 20px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  margin-bottom: 5px;
  display: inline-block;
}

.form-control input {
  border: 2px solid rgb(190, 215, 223);
  display: block;
  border-radius: 0.5rem;
  font-size: 1rem;
  width: 100%;
  padding: 12px;
}

.form-control i {
  position: absolute;
  top: 43px;
  right: 10px;
  visibility: hidden;
}

.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form button {
  background-color: rgb(115, 73, 212);
  color: aliceblue;
  font-size: 1rem;
  border: 2px solid rgb(115, 73, 212);
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

/* error and success */
.form-control.success input {
  border-color: rgb(32, 219, 141);
}

.form-control.error input {
  border-color: #db4c20;
}

.form-control.success i.fa-check-circle {
  color: rgb(32, 219, 141);
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #db4c20;
  visibility: visible;
}

.form-control.error small {
  visibility: visible;
  color: #db4c20;
}

p {
  padding-top: 2rem;
  text-decoration: solid;
  color: rgb(33, 40, 80);
}
